@charset "utf-8";
.banner_outline{width: 1220px; height: inherit; margin: 0 auto; position: relative; overflow: hidden;}
.banner_outline> ul {position: absolute; width: inherit; height: inherit;}
.banner_outline> ul:nth-of-type(2){ display: none;}
.banner_outline> ul > li{position: absolute;}

.banner_outline> ul > li:nth-of-type(1){
    width: inherit; height: inherit; z-index: 3;
    left: 0; 
}
.banner_outline> ul > li:nth-of-type(1)>img{
   position: absolute;  width: inherit; height: inherit; z-index: 3;
   left: 0; 
}
.banner_outline> ul > li:nth-of-type(2){
     z-index: 4; font-family: 'Noto Sans KR', sans-serif; font-size: 14px;
     font-weight: 700; width: 700px; 
     top: 150px; opacity: 0; left: -700px;
}
.banner_outline> ul > li:nth-of-type(3){
    z-index: 4; font-family: 'Noto Sans KR', sans-serif; font-size: 35px;
    top: 187px; opacity: 0; width: 700px; left: -700px;
}
.banner_outline> ul > li:nth-of-type(4){
    z-index: 4; font-family: 'Nanum Gothic', sans-serif; font-size: 14px;
    color: #666; top: 310px; opacity: 0; width: 700px; left: -700px;
}
.banner_outline> ul > li:nth-of-type(5){
    z-index: 4; font-family: 'Noto Serif KR', serif; font-size: 11px;
    top: 365px; border: 1px solid #ccc;
    width: 200px; height: 40px; text-indent: 5px; line-height: 40px;
    cursor: pointer; left: 60px;
} 


/*하단 탭 메뉴*/

.banner_outline> ol{
    height: 45px; width: auto; position: absolute; z-index: 4;  bottom: 0;
    font-family: 'Noto Sans KR', sans-serif; font-size: 13px;
}
.banner_outline> ol> li{
    width: 235px; height: inherit; float: left; position: relative;
    text-align: center; line-height: 45px; cursor: pointer;
    box-sizing: border-box;
    
}

