@charset "utf-8";
.outline{ height: auto; position: relative;}
.roule_bk{ 
    position: absolute;
    width: 100%;
}
.roule_bk > img{ width: 100%; object-fit: cover;}
.gamepan{ 
    position: absolute; width: 80%; left: 50%;
    margin-left: -40%; bottom: 7.5%;
}
.gamepan >span >img { width: 100%; object-fit: cover;}
.gamebtn{position: absolute; width: 40%; height: 40%; top: 0; bottom: 0;
    left: 0; right: 0; margin: auto; z-index: 4;
}
.gamepin{ position: absolute; width: 10%; height: 10%; left: 0;
    right: 0; margin: auto;  z-index: 4;
}
.gameboard{transition: all 5s ease;}

.msg{ background-color: pink; width: 50%; height: 60px; 
    position: absolute; z-index: 8; border-radius: 10px;
    left: 0; right: 0; margin: auto; top: 250px; 
    display: none;  border: 4px solid whitesmoke;  
}
.msg > .alert_tab {width: 100%; height: 20px; background: cornflowerblue; border-radius: 5px;
    z-index: 10;
}
.alert_tab > label {position: absolute; right: 0px; width: 10%; height: inherit; font-size: 12px;
    color: black; z-index: 11; text-align: center; line-height: 20px; font-weight: bolder;
}

.msg>.textarea {width: 100%; height: 40px; text-align: center; line-height: 40px;
    color: rebeccapurple; font-size: 20px; font-weight: bolder;
}