@charset "utf-8";
.roulette{margin: 0 auto; width: 1200px; height: 1600px;}
.outline{position: relative; border: 1px solid red;}
.roule_bk{ 
    position: absolute;
    width: 100%;
}
.roule_bk > img{ width: 100%; object-fit: cover;}
.gamepan{ 
    position: absolute; width: 80%; left: 50%;
    margin-left: -40%; bottom: 7.5%;
}
.gamepan >span >img { width: 100%; object-fit: cover;}
.gamebtn{position: absolute; width: 40%; height: 40%; top: 0; bottom: 0;
    left: 0; right: 0; margin: auto; z-index: 4;
}
.gamepin{ position: absolute; width: 10%; height: 10%; left: 0;
    right: 0; margin: auto;  z-index: 4;
}
.gameboard{transition: all 5s ease;}

.msg{ background-color: pink; width: 50%; height: 10%; 
    position: absolute; z-index: 8; border-radius: 10px;
    left: 0; right: 0; margin: auto; top: 25%; 
    display: none;  border: 4px solid whitesmoke;
    opacity: 0.9;  
}
.msg > .alert_tab {width: 100%; height: 20%; background: cornflowerblue; border-radius: 5px;
    z-index: 10;
}
.alert_tab > label {position: absolute; right: 0px; width: 10%; height: inherit; font-size: 30px;
    color: black; z-index: 11; text-align: center;  font-weight: bolder;
}

.msg>.textarea {width: 100%; height: 80%; text-align: center; 
    color: rebeccapurple; font-size: 50px; font-weight: bolder;
}

@media screen and (min-width:340px ) and (max-width:580px ){ 
    
    .roulette{margin: 0; width: auto; height: auto;}
    .alert_tab > label{font-size: 12px;}
    .msg>.textarea{font-size: 15px;}
    
}